<% @questions.each do |question| %>
  <p>Q.<%= question.question %></p>

  <% question.answers.each do |answer| %>
    <%= form_for :answer do |a| %>
      <label>
        <%= a.radio_button :judgment, "0" %>
        <%= answer.answer %>
      </label>
    <% end %>
  <% end %>

<% end %>
    <%= form_for :answer do |a| %>
      <%= a.submit %>
    <% end %>
