<div class="">
  <div class="">
    <% if user_signed_in? && current_user.id == @pastquestion.user_id %>
      <div class="">
        <ul class="">
          <li>
            <%= link_to '編集', "/pastquestions/#{@pastquestion.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/pastquestions/#{@pastquestion.id}", method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <%= simple_format(@pastquestion.p_question) %>
    <span class="">
      <a href="/users/<%= @pastquestion.user.id %>">
        <span>投稿者</span><%= @pastquestion.user.nickname %>
      </a>
    </span>
  </div>

  <div class="">
    <% if current_user %>
      <%= form_tag("/pastquestions/#{@pastquestion.id}/comments", method: :post) do %>
        <textarea name="text" placeholder="コメントする" rows="2" cols="30"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
  </div>

  <div class="">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
  </div>

</div>
